



body{
  
}
.App{
  background-color: #7458c0;
  min-height:500px;
  width: 400px;
  margin: 40px auto;
}

#to-do-form input{
  background-color: rgb(177, 13, 108);
  border: 0; 
  color: #fff;
  width: 140px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
}
#to-do-form input::placeholder{
  color: rgba(243, 232, 232, 0.5);
}
#to-do-form input:focus{
  outline: none;
}
#to-do-form button{
  height: 50px;
  width: 50px;
  border-radius: 5px;
  border: 0;
  background-color:rgb(9, 172, 123); 
  cursor: pointer;
}
#to-do-form button:focus{
  outline: none;
}


#form-recherch input{
  background-color: rgb(114, 104, 110);
  border: 0; 
  color: #fff;
  width: 140px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 12px;
  border-radius: 10px;
}
#form-recherch input::placeholder{
  color: rgba(255,255,255,0.5);
}
#form-recherch input:focus{
  outline: none;
}
